<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<div class="wrapper">
  <!-- Navigation -->
  <header>
    <div th:replace="fragments/commons :: navigation">Navbar</div>
  </header>
  <main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7">
          <div class="profile-card p-3 py-4">
            <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle"></div>
            <div class="text-center mt-3" th:object="${user}">
              <h5 class="mt-4 mb-0">Name</h5>
              <span th:text="*{name}"></span>
              <h5 class="mt-2 mb-0">Username</h5>
              <span th:text="*{username}"></span>
              <h5 class="mt-2 mb-0">Email</h5>
              <span th:text="*{email}"></span>

              <div class="buttons">
                <button type="button" onclick="history.back()" class="btn btn-outline-primary px-4">Back</button>
                <!--                            <button class="btn btn-primary px-4 ms-3">Contact</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>