<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<main class="p-5 align-content-center bg-blur my-register-div">
  <h1 class="text-center text-white">Register</h1>
  <div class="d-flex justify-content-center ">
    <div class="text-white font-weight-bold">
      <form   th:object="${registerBindingModel}"
              th:action="@{/users/register}"
              th:method="post">
        <div>
          <div class="col-auto">
            <label for="inputUsername" class="col-form-label ">Username</label>
          </div>
          <div class="col-auto">
            <input th:field="*{username}"
                   required minlength="5" maxlength="20"
                   type="text"
                   id="inputUsername"
                   class="form-control"
                   aria-describedby="usernameHelpInline">
            <small id="usernameError"
                   class="invalid-feedback bg-danger rounded">Username length must be more than 5 characters</small>

            <small th:if="${false}" id="usernameUniqueError"
                   class=" bg-danger rounded">Username is already occupied</small>

          </div>
        </div>

        <div>
          <div class="col-auto">
            <label for="inputName" class="col-form-label ">Name</label>
          </div>
          <div class="col-auto">
            <input th:field="*{name}"
                   required minlength="2" maxlength="20"
                   type="text"
                   id="inputName"
                   class="form-control"
                   aria-describedby="nameHelpInline">
            <small id="nameError"
                   class="invalid-feedback  form-text bg-danger rounded">Name length must be more than 2 characters</small>
          </div>
        </div>

        <div>
          <div class="col-auto">
            <label for="inputEmail" class="col-form-label ">Email</label>
          </div>
          <div class="col-auto">
            <input th:field="*{email}"
                   required
                   type="email"
                   id="inputEmail"
                   class="form-control"
                   aria-describedby="emailHelpInline">
            <small id="emailError"
                   class="invalid-feedback  form-text bg-danger rounded">Must be valid email</small>
          </div>
        </div>
        <div>
          <div class="col-auto">
            <label for="inputPassword" class="col-form-label ">Password</label>
          </div>
          <div class="col-auto">
            <input th:field="*{password}"
                   required minlength="5" maxlength="20"
                   type="password"
                   id="inputPassword"
                   class="form-control"
                   aria-describedby="passwordHelpInline">
            <small id="passwordError"
                   class="invalid-feedback  form-text bg-danger rounded">
              Password length must be between 5 and 20 characters and passwords should match.
            </small>
          </div>
        </div>

        <div>
          <div class="col-auto">
            <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
          </div>
          <div class="col-auto">
            <input th:field="*{confirmPassword}"
                   required minlength="5" maxlength="20"
                   type="password"
                   id="inputConfirmPassword"
                   class="form-control"
                   aria-describedby="confirmPasswordHelpInline">
            <small id="confirmPasswordError"
                   class="invalid-feedback  form-text bg-danger rounded">
              Password length must be between 5 and 20 characters and passwords should match.
            </small>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
        </div>

      </form>
    </div>
  </div>
</main>
</body>
</html>